*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2% 5% 2% 5% ;
    border: solid 1px black;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

a{
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 20px;
}

article button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #333;
}